# Build Node.js application

on:
  pull_request:
    paths:
      - 'apps/nodeApp/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: ./apps/nodeApp/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./apps/nodeApp
